<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Exclude>
            [Cutube.Api]*Program*,
            [Cutube.Api]*BackgroundDownloadWorker*ExecuteAsync*,
            [Cutube.Api.DTOs]*,
            [Cutube.Api.Models]DownloadStatusRecord,
            [Cutube.Api.Models]DownloadStatus,
            [Cutube.Api]*Generated*,
            [Microsoft.AspNetCore.OpenApi.Generated]*,
            [System.Runtime.CompilerServices]*,
            [Cutube.Recovery]*,
            [Cutube.Logging]*,
            [Cutube.Commands]*,
            [Cutube]*DownloadInput,
            [Cutube]*DownloadState,
            [Cutube]*DownloadStateManager
          </Exclude>
          <ExcludeByAttribute>
            ExcludeFromCodeCoverage
          </ExcludeByAttribute>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
